{{#each notes}}
    <div class="box">
        <p class="title is-6">{{@key}}</p>
        {{#each this}}
            <div class="content">
                <h1 class="title">{{this.title}}</h1>
                {{{markdown this.body}}}
                {{#if this.link_by_line}}
                    <p>Source: <a href="{{this.link_by_line}}">{{this.link_by_line}}</a></p>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/each}}
