{{#each notes}}
    <div class="box">
        <p class="title is-6">{{@key}}</p>
        {{#each this}}
            <div class="media">
                {{#if this.link_image}}
                <div class="media-left">
                    <figure class="image" style="width: 192px; height: 192px;">
                        <img src="{{this.link_image}}" alt="{{this.title}}">
                    </figure>
                </div>
                {{/if}}
                <div class="media-content">
                    <div class="content">
                        <h1 class="title">{{this.title}}</h1>
                        {{{markdown this.body}}}
                        {{#if this.link_by_line}}
                            <p>Source: {{this.link_by_line}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
