{{#each notes}}
    <div class="box">
    <p class="title is-4">{{@key}}</p>
    <ul>
    {{#each this}}
        <li class="block">
            <a aria-label="external link" target="_blank" class="is-underlined" href={{this.body}}>{{this.title}}</a>
            {{#if this.link_excerpt}}
                <p>{{this.link_excerpt}}</p>
            {{/if}}
            {{#if this.link_by_line}}
                <p>Source: <a href="{{this.link_by_line}}">{{this.link_by_line}}</a></p>
            {{/if}}
            {{#if this.tags}}
                <div class="tags" style="margin-top:5px">
                {{#each this.tags}}
                    <span class="tag is-light">{{this}}</span>
                {{/each}}
                </div>
            {{/if}}
        </li>
    {{/each}}
    </ul>
    </div>
{{/each}}
