<div class="block content is-normal">
    <div class="media">
        {{#if this.link_image}}
        <div class="media-left">
            <figure class="image" style="width: 192px; height: 192px;">
                <img src="{{this.link_image}}" alt="{{this.title}}" style="filter: grayscale(1);">
            </figure>
        </div>
        {{/if}}
        <div class="media-content">
            <a aria-label="external link" target="_blank" class="is-underlined" href={{this.body}}>{{this.title}}</a>
            {{#if this.link_excerpt}}
                <p>{{truncateWords this.link_excerpt 100}}</p>
            {{/if}}
            {{#if this.link_by_line}}
                <p><b>{{this.link_by_line}}</b></p>
            {{/if}}
            {{#if this.tags}}
                <div class="tags" style="margin-top:5px">
                {{#each this.tags}}
                    <span class="tag is-light has-text-primary">{{this}}</span>
                {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
