<ul>
{{#tags}}
    <li>
        {{#if (isEqual tag @root.queryTags)}}
            <a aria-label="active tag link" class="has-text-weight-bold" href={{url}}{{folder.folder_id}}"?tags={{tag}}">{{tag}}</a>
        {{else}}
            <a aria-label="tag link" href={{url}}{{folder.folder_id}}"?tags={{tag}}">{{tag}}</a>
        {{/if}}
    </li>
{{/tags}}
</ul>