<ul>
{{#each tags}}
    <li>
        {{#if (isEqual this @root.queryTag)}}
            <a aria-label="active tag link" class="has-text-weight-bold" href={{url}}{{folder.folder_id}}"?tag={{this}}">{{this}}</a>
        {{else}}
            <a aria-label="tag link" href={{url}}{{folder.folder_id}}"?tag={{this}}">{{this}}</a>
        {{/if}}
    </li>
{{/each}}
</ul>