<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="notes about web development" />
  <meta name="keywords" content="php laravel nodejs serverless api databases hardware" />
  <meta name=”robots” content=”index,follow” />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="msvalidate.01" content="CE98461C304B6DE7D7F18193EFEF9BB5" />
  <title>Hello Data Notes</title>
  <link rel="stylesheet" href="/mystyles.css">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
  </script>
  <style>
    .content pre {
      padding: 0em;
    }
  </style>
</head>

<body>
  <nav class="navbar is-hidden-desktop" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a aria-label="home" class="navbar-item" href="/">
        <img alt="home icon" src="/home.png" width="28" height="28">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menuItems">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    {{#if folders }}
    <div class="navbar-menu" id="menuItems">
      <aside class="menu">
        <ul class="menu-list">
          {{#folders}}
          {{#if (showFolder title) }}
          <li><a href="/folders/{{folder_id}}">{{title}}</a></li>
          {{/if}}
          {{/folders}}
        </ul>
      </aside>
    </div>
    {{/if}}
  </nav>

  <section class="section">
    <div class="container">
      <div class="home-icon-desktop is-hidden-touch">
        <a aria-label="home" class="navbar-item" href="/">
          <img alt="home icon" src="/home.png" width="28" height="28">
        </a>
      </div>
      <div class="columns">
        <div class="column is-one-quarter is-hidden-touch">
          {{#if folders}}
          <aside class="menu">
            <ul class="menu-list">
              {{#folders}}
              {{#if (showFolder title) }}
              <li><a href="/folders/{{folder_id}}">{{title}}</a></li>
              {{/if}}
              {{/folders}}
            </ul>
          </aside>
          {{/if}}
        </div>
        <div class="column">
          {{{body}}}
        </div>
      </div>
    </div>
  </section>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <script defer data-domain="notes.hello-data.nl" src="https://plausible.thipii.nl/js/script.js"></script>
</body>

</html>
