<div class="home-container">
    <div class="box main-note-box">
        <div class="media">
            {{#if note.link_image}}
            <div class="media-left">
                <figure class="image" style="width: 192px; height: 192px;">
                    <img src="{{note.link_image}}" alt="{{note.title}}" style="filter: grayscale(1);">
                </figure>
            </div>
            {{/if}}
            <div class="media-content">
                <div>
                    <h1 class="title is-4 has-text-dark">{{ note.title }}</h1>
                    <p>{{{markdown note.body }}}</p>
                </div>
            </div>
        </div>
    </div>

    {{#if latestArticle}}
    <div class="box latest-article-box">
        <div class="content">
            <p class="title is-4 has-text-dark">{{latestArticle.title}}</p>
            {{#if latestArticle.tags.length}}
            <div class="tags">
                {{#each latestArticle.tags}}
                    <span class="tag is-medium">{{this}}</span>
                {{/each}}
            </div>
            {{/if}}
            {{{markdown latestArticle.body}}}
        </div>
    </div>
    {{/if}}

    <div class="box recent-notes-box">
        <h2 class="title is-4 has-text-dark">Recent Notes</h2>
        <hr/>
        {{#if recentNotes}}
            {{#each recentNotes}}
                <div class="block">
                    {{> bookmark this showDate=true}}
                </div>
                {{#unless @last}}<hr/>{{/unless}}
            {{/each}}
        {{else}}
            <p>No recent notes found.</p>
        {{/if}}
    </div>

    <div class="box newsletter-box">
        <h2 class="title is-5 has-text-dark">Stay Updated</h2>
        <p class="mb-4">Subscribe to our newsletter to receive updates about new notes and articles.</p>
        <a href="/newsletter" class="button is-primary">Subscribe to Newsletter</a>
    </div>
</div>
