<div class="block content is-normal">
    <div class="media">
        <div class="media-content">
            {{#if this.created_time}}
                <p class="has-text-grey is-size-7">{{formatDate this.created_time}}</p>
            {{/if}}
            <div class="bookmark-title-container" style="display: flex; align-items: flex-start; gap: 0.5em;">
                {{#if this.link_favicon}}
                    <img src="{{this.link_favicon}}" alt="" style="height: 1.25em; width: 1.25em; filter: grayscale(100%); margin-top: 0.15em;">
                {{/if}}
                <a aria-label="external link" target="_blank" class="is-underlined" href={{this.body}}>{{this.title}}</a>
            </div>
            {{#if this.link_excerpt}}
                <p>{{truncateWords this.link_excerpt 100}}</p>
            {{/if}}
            {{#if (or this.tags this.folder this.hacker_news_id)}}
                <div class="tags">
                    {{#if this.folder}}
                        <a href="/folders/{{this.folder.folder_id}}" class="tag is-link">{{this.folder.title}}</a>
                    {{/if}}
                    {{#if this.hacker_news_id}}
                        <a href="https://news.ycombinator.com/item?id={{this.hacker_news_id}}" target="_blank" class="tag is-warning" aria-label="Hacker News discussion">hacker news</a>
                    {{/if}}
                    {{#each this.tags}}
                        <span class="tag is-dark">{{this}}</span>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
